.navbar-brand {
    font-size : 30px;
}

.navbar-right a {
    font-size: 18px;
    color: white;
}

#setting a.dropdown-toggle {
    margin:5px 5px;
    background-color: #ac2925;
    color: white;
    border-radius: 5px;
}

#status a {
    margin:5px 5px;
    /*color: #419641;*/
    font-weight: bold;
    /*color: #c9302c;*/
}

#setting a, #help-icon {
    cursor: pointer;
}

.starter-template {
    padding: 50px 20px 20px 20px;
}

.input-group {
    padding: 20px 20px 50px 20px;
    font-size: 24px;
}

.form-group {
    width: 60%;
    font-size:24px;
}

.container>div {
    text-align: center;
}

.tooltip-inner {
    max-width: 350px;
}

#loading {
    text-align: center;
}

#loading > div {
    width: 20px;
    height: 20px;
    background-color: #337ab7;
}

